<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <!-- <title><%= title %></title> -->

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

 <% if (typeof hideLayout === 'undefined' || !hideLayout) { %>

  <%- include('../partials/sidebar') %>

  <div class="ml-64">
    <%- include('../partials/navbar') %>

    <main class="p-6">
      <%- body %>
    </main>
  </div>

<% } else { %>

  <%- body %>

<% } %>

</body>
</html>